ESP32C5_TEST_DEVICE=/dev/ttyUSB0
ESP32C5_DUT_PORT=/dev/ttyUSB0
ESP32C5_DEVICES_CONFIG=/workspace/ESP32C5/tests/config/devices.json
ESP32C5_BASE_SW_DIR=/workspace/ESP32C5/tools/SW
ESP32C5_BAUD=460800
ESP32C5_FLASH_MODE=dio
ESP32C5_FLASH_FREQ=80m
